@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar content";
}

ul {
  list-style: none;
}

button {
  background-color: #1992d4;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
}

svg {
  fill: #fff;
  height: 1rem;
}

h1 {
  padding-bottom: 40px;
}

h1 svg {
  height: 2rem;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
  color: #fff;
  padding: 15px;
}

.sidebar ul {
  display: grid;
  gap: 15px;
}

.sidebar ul li,
h1 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  gap: 15px;
}

.header {
  grid-area: header;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "search-bar user-info"
    "greeting menu";
  gap: 10px;
}

.header svg {
  fill: #000;
}

.search-bar {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
  grid-area: search-bar;
}

.user-info {
  grid-area: user-info;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.greeting {
  grid-area: greeting;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 10px;
}

.greeting .avatar {
  width: 60px;
  height: 60px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
  grid-area: menu;
}

input {
  background-color: #e2e8f0;
  border: none;
  border-radius: 10px;
}

.avatar {
  background-color: #facc15;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.content {
  padding: 15px;
  grid-area: content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "cards aside";
  gap: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  grid-area: cards;
}

aside {
  grid-area: aside;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border-left: 10px solid #f0b42a;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.card svg {
  fill: #000;
  height: 1.5rem;
}

.card-icons {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: 3px;
}

.section-title {
  padding: 10px;
}

.section-title,
.card-header,
.announcement-title {
  font-weight: bold;
}

.announcement-title {
  font-size: 0.8rem;
}

.trends-box,
.announcements-box {
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.announcement {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.announcement:last-of-type {
  border: none;
}

.card-text,
.announcement-text,
.project-name {
  color: #828282;
  font-size: 0.7rem;
}

.trends-box {
  display: grid;
  gap: 10px;
}

.trend {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
  font-size: 0.7rem;
}
